.page.theme_dark {
  --backgroundImage: var('./images/cover-image-dark.png');
  --borderAndText: var(--darkAccent);
  --headerColor: var(--darkAccentSec);
  --backgorundColor: var(--darkColor);
  --pinkShadowColor: var();
  --squareColor: var(--darkAccent);
  --mainTextColor: var(--pinkColor);
  --miniHeadersColor: var(--darkColor);
  --borderAndTextOpacity: var(#ff007040);
  --bodyColor:var(#000028);
  background-image: url('../images/cover-image-dark.png');

}

@media (prefers-color-scheme: dark) {
  :root {
      --borderAndText: var(--darkAccent);
      --headerColor: var(--darkAccentSec);
      --backgorundColor: var(--darkColor);
      --squareColor: var(--darkAccent);
      --mainTextColor: var(--pinkColor);
      --miniHeadersColor: var(--darkColor);
      --borderAndTextOpacity: var(--darkAccentOpac);
      --bodyColor:var(#000028);
  }

  .page {
      background-image: url('../images/cover-image-dark.png');
      
  }

}