.page.theme_dark {
  --background-image: url('./images/cover-image-dark.png');
  --border-and-text: var(--color-dark-accent);
  --header-color: var(--color-dark-accent-sec);
  --background-color: var(--color-dark);
  --square-color: var(--color-dark-accent);
  --main-text-color: var(--color-white);
  --mini-headers-color: var(--color-dark);
  --border-and-text-opacity: var(--color-dark-accent-opac);
  --body-color: var(--color-dark);
  --text-shadow: var(--color-dark-accent);
  
  background-image: url('../images/cover-image-dark.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url('./images/cover-image-dark.png');
    --border-and-text: var(--color-dark-accent);
    --header-color: var(--color-dark-accent-sec);
    --background-color: var(--color-dark);
    --square-color: var(--color-dark-accent);
    --main-text-color: var(--color-white);
    --mini-headers-color: var(--color-dark);
    --border-and-text-opacity: var(--color-dark-accent-opac);
    --body-color: var(--color-dark);
    --text-shadow: var(--color-dark-accent);
  }

  .page {
    background-image: url('../images/cover-image-dark.png');
  }
}
