.page.theme_light {
  --backgroundImage: var('./images/cover-image-light.png');
  --borderAndText: var(--brownColor);
  --headerColor: var(--headerPink);
  --backgorundColor: var(--whiteLightColor);
  --squareColor: var(--pinkColor);
  --mainTextColor: var(--brownColor);
  --miniHeadersColor: var(--brownColor);
  --borderAndTextOpacity: var(#35343040);
  --bodyColor:var(#FFF1F7);
  --textShadow:var(--pinkColor);
  background-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
      --backgroundImage: var('./images/cover-image-light.png');
      --borderAndText: var(--brownColor);
      --headerColor: var(--headerPink);
      --backgorundColor: var(--whiteLightColor);
      --squareColor: var(--pinkColor);
      --mainTextColor: var(--brownColor);
      --miniHeadersColor: var(--brownColor);
      --borderAndTextOpacity: var(#35343040);
      --borderAndTextOpacity: var(--brownColorOpac);
      --bodyColor:var(#000028);
      --textShadow:var(--pinkColor);
  }

  .page {
      background-image: url('../images/cover-image-light.png');
  }
  .rec span,
  .rec-circle {
    display: none;
  }
}