.page.theme_light {
  --backgroundImage: var('./images/cover-image-light.png');
  --borderAndText: var(--brownColor);
  --headerColor: var(--pinkHeader);
  --backgorundColor: var(--whiteLightColor);
  --squareColor: var(--pinkColor);
  --mainTextColor: var(--brownColor);
  --miniHeadersColor: var(--brownColor);
  --borderAndTextOpacity: var(#35343040);
  --bodyColor:var(#FFF1F7);
<<<<<<< HEAD
=======
  --textShadow:var(--pinkColor);
>>>>>>> 7b3dc470bfb8ca69b43215bfd05884b3ec2e6e34
  background-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
      --backgroundImage: var('./images/cover-image-light.png');
      --borderAndText: var(--brownColor);
<<<<<<< HEAD
      --headerColor: var(--whiteColor);
=======
      --headerColor: var(--pinkHeader);
>>>>>>> 7b3dc470bfb8ca69b43215bfd05884b3ec2e6e34
      --backgorundColor: var(--whiteLightColor);
      --squareColor: var(--pinkColor);
      --mainTextColor: var(--brownColor);
      --miniHeadersColor: var(--brownColor);
      --borderAndTextOpacity: var(#35343040);
      --borderAndTextOpacity: var(--brownColorOpac);
      --bodyColor:var(#000028);
  }

  .page {
      background-image: url('../images/cover-image-light.png');
  }
  .rec span,
  .rec-circle {
    display: none;
  }
}