.page {
  background: var(--backgorundColor);

  background-image: url('../images/cover-image-dark.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto
}

.header {
  background-size: 100% 100%;
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.main__screen-header {
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--headerColor);
  text-shadow: 4px 4px var(--darkAccent);
}

.link {
  text-shadow: 2px 2px var(--textShadow);
  text-decoration: none;
}

.rec {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  align-items: center;
  color: var(--borderAndText);
  position: absolute;
  top: 20px;
  right: 20px;
}

.rec-circle {
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--borderAndText);
  border-radius: 50%;
  background: var(--borderAndText);
  display: flex;
}

.header__content::after {
  content: ' ';
  border-bottom: 1px solid var(--borderAndText);
  border-left: 1px solid var(--borderAndText);
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.header__content .container {
  display: flex;
  justify-content: center
}

.rec-circle__container {
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--borderAndText);
  border-right: 1px solid var(--borderAndText);
  margin-left: 3px;
  display: flex;
}

.header__theme-menu-list {
  display: flex;
  gap: 10.7px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--borderAndText);
  text-transform: lowercase;
  padding: 1.5px 13px 4.5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.header__theme-menu-button_active {
  border: 1px solid var(--borderAndText);
  pointer-events: none;
}

.header__theme-menu {
  margin-top: 20px;
}

.header__theme-menu-item {
  border-bottom: 1px solid #00000000;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--borderAndText);
}

.header__theme-menu-item:focus {
  border-bottom: 1px solid var(--borderAndTextOpacity);
}

.main__screen-text {
  color: var(--miniHeadersColor);
  background: var(--squareColor);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  width: 491px;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
  margin-top: -20px;
}

.section {
  padding-top: 60px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section__list-item.first {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section__list-item.second {
  display: flex;
  flex-direction: column;
}

.section__list-item.second .section__list-blocks__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__list-item-header {
  width: 315px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--borderAndText);
}

.section__list-item:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section__list-item__left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__list-blocks__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__list-item {
  gap: 10px;
}

.main__header-text {
  background: var(--squareColor);
  width: 100%;
  color: var(--miniHeadersColor);
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.main__header-text.light {
  font-weight: 400;
}

.section__list-blocks__list-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--mainTextColor);

}

.section__list-blocks__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pictures {
  margin: 80px 0 60px;
}

.pictures__list-item img {
  width: 100%;
}

.pictures__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pictures__list-item {
  block-size: 100%;
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.pictures .main__header-text {
  margin-bottom: 20px;
}

.pictures__list-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url(../images/sunset.png);
  grid-row-start: 1;
  grid-row-end: 1;
  height: 260px;
  display: flex;
}

.pictures__list-item:nth-child(2) {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(../images/ice-cream.png);
  height: 596px;
}

.pictures__list-item:nth-child(3) {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 768px;
  background-image: url(../images/tape.png);
}

.pictures__list-item:nth-child(4) {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 315px;
  background-image: url(../images/books.png);
}

.pictures__list-item:nth-child(5) {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  height: 428px;
  grid-column-end: 4;
  background-image: url(../images/street.png);
  display: flex;
  width: 100%;
  background-size: cover;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.footer-header {
  text-shadow: 2px 2px var(--darkAccent);
}

.footer-square {
  width: 25px;
  height: 25px;
}

.footer-square.top {
  border-top: 1px solid var(--borderAndText);
  border-right: 1px solid var(--borderAndText);
  position: absolute;
  right: 20px;
  top: 20px;
}

.footer-square.down {
  border-bottom: 1px solid var(--borderAndText);
  border-left: 1px solid var(--borderAndText);
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.page.theme_light .rec span,
.page.theme_light .rec-circle {
  display: none;
}

.page.theme_dark .rec span,
.page.theme_dark .rec-circle {
  display: flex;
}

@media (max-width:1023px) {
  .main__screen-text {
      width: 364px;
  }

  .header__content {
      align-self: center;
  }

  .section {
      padding-top: 59.8px;
  }

  .section__list-item-header {
      width: 237px;
  }

  .section__list-item {
      gap: 18px;
  }

  .section__list-item.second {
      gap: 11px;
  }

  .header__content .container {
      flex-direction: column-reverse;
      align-items: end;
      gap: 146px;
      padding-right: 20px;
  }

  .header__theme-menu {
      margin-left: 0;
      transform: none;
  }

  .header__theme-menu-list {
      flex-direction: column;
      align-items: end;
  }

  .section__list-item.second .section__list-blocks__list {
      display: flex;
      flex-direction: column;
  }

  .main__screen-header {
      font-size: 120px;
  }

  .pictures__list-item:nth-child(1) {
      height: 192px;
  }

  .pictures__list-item:nth-child(2) {
      height: 441px;
  }

  .pictures__list-item:nth-child(3) {
      height: 568px;
  }

  .pictures__list-item:nth-child(4) {
      height: 230px;
  }

  .pictures__list-item:nth-child(5) {
      height: 318px;
  }

  .main__screen-header {
      text-shadow: 4px 4px var(--textShadow);
  }
}

@media (max-width:767px) {
  .header__content .container {
      gap: 38px;
      padding-right: 10px;
  }

  .header__theme-menu {
      margin-top: 6px;
  }

  .rec {
      right: 10px;
      top: 10px;
  }

  .main__screen-header {
      font-size: 116px;
      margin-left: 10px;
  }

  .container {
      padding: 0 10px;
  }

  .main__screen .main__screen-header {
      text-wrap: wrap;
      width: 100px;
  }

  .rec-circle__container {
      margin-left: 10px;
  }

  .main__screen-text {
      width: auto;
      margin: -10px 10px 0;
  }

  .main__screen-down-square {
      left: 10px;
      bottom: 10px;
  }

  .section {
      padding-top: 40px;
  }

  .section__list-item-header {
      width: 100%;
      margin-bottom: 0;
  }

  .section__list-item.second .section__list-item-header {
      margin-bottom: 10px;
  }

  .section__list {
      gap: 50px;
      width: auto;
  }

  .section__list-item.second {
      grid-template-columns: 1fr;
  }

  .section__list-item.third {
      grid-template-columns: 1fr;
  }

  .pictures {
      margin: 50px 0 31px;
  }

  .pictures__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .pictures__list-item:nth-child(1) {
      height: 142px;
  }

  .pictures__list-item:nth-child(2) {
      height: 355px;
  }

  .pictures .main__header-text {
      margin-bottom: 10px;
  }

  .pictures__list-item:nth-child(3) {
      height: 237px;
  }

  .pictures__list-item:nth-child(4) {
      height: 355px;
  }

  .pictures__list-item:nth-child(5) {
      height: 237px;
  }

  .section__list-item.first {
    grid-template-columns: 1fr;
  }

  .pictures__list-item {
      background-size: 100%;
  }

  .footer-square.down {
      left: 10px;
      bottom: 10px;
  }

  .footer-square.top {
      right: 10px;
      top: 10px;
  }
  .footer {
    margin-top: 41px;
  }
  .footer .main__screen-header {
    margin-left: 0;
  }
}