.page {
  background: var(--body-color);
  background-image: url('../images/cover-image-dark.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto
}

.header {
  background-size: 100% 100%;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.page-title {
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--header-color);
  text-shadow: 4px 4px var(--color-dark-accent);
}


.link {
  text-shadow: 2px 2px var(--text-shadow);
  text-decoration: none;
}

.rec {
  position: absolute;
  right: 20px;
  top: 20px;
}

.rec::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  margin-right:1px;
}

.rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
  margin-right:10px;
}

.header__content::after {
  content: ' ';
  border-bottom: 1px solid var(--border-and-text);
  border-left: 1px solid var(--border-and-text);
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.header__content .container {
  display: flex;
  justify-content: center
}

.header__content::before {
  content: ' ';
  border-top: 1px solid var(--border-and-text);
  border-right: 1px solid var(--border-and-text);
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.rec-circle__container {
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-and-text);
  border-right: 1px solid var(--border-and-text);
  margin-left: 3px;
  display: flex;
}

.header__theme-menu-list {
  display: flex;
  gap: 10.7px;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid #00000000;
  cursor: pointer;
  color: var(--border-and-text);
  text-transform: lowercase;
  padding: 1.5px 13px 4.5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-and-text);
  pointer-events: none;
}

.header__theme-menu {
  margin-top: 20px;
}

.header__theme-menu-item {
  border-bottom: 1px solid #00000000;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-and-text);
}

.header__theme-menu-item:focus-visible {
  border-bottom: 1px solid var(--border-and-text);
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.main__screen-text {
  color: var(--mini-headers-color);
  background: var(--square-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  width: 491px;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main {
  padding-top: 60px;
}

.main .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.blocks__list-item.up {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.blocks__list-item.center {
  display: flex;
  flex-direction: column;
}

.blocks__list-item.center .blocks__list-blocks__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blocks__list-item-header {
  width: 315px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--border-and-text);
}

.blocks__list-item.down {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.blocks__list-item__left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blocks__list-blocks__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blocks__list-item {
  gap: 10px;
}

.main__header-text {
  background: var(--square-color);
  width: 100%;
  color: var(--miniHeaders-color);
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.main__header-text.light {
  font-weight: 400;
}

.blocks__list-blocks__list-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-text-color);
}

.blocks__list-blocks__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pictures {
  margin: 80px 20px 60px;
}

.pictures__list-item img {
  width: 100%;
}

.pictures__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pictures__list-item {
  block-size: 100%;
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.pictures .main__header-text {
  margin-bottom: 20px;
}

.pictures__list-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 260px;
  display: flex;
}

.pictures__list-item:nth-child(2) {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 596px;
}

.pictures__list-item:nth-child(3) {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 768px;
}

.pictures__list-item:nth-child(4) {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 315px;
}

.pictures__list-item:nth-child(5) {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  height: 428px;
  grid-column-end: 4;
  display: flex;
  width: 100%;
  background-size: cover;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  min-height: 668px;
}

.footer-header {
  text-shadow: 2px 2px var(--color-dark-accent);
}

.footer-square {
  width: 25px;
  height: 25px;
}

.footer-square.top {
  border-top: 1px solid var(--border-and-text);
  border-right: 1px solid var(--border-and-text);
  position: absolute;
  right: 20px;
  top: 20px;
}

.footer-square.down {
  border-bottom: 1px solid var(--border-and-text);
  border-left: 1px solid var(--border-and-text);
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media (max-width:1023px) {
  .main__screen-text {
      width: 364px;
  }

  .header__content {
      align-self: center;
  }

  .main {
      padding-top: 59.8px;
  }

  .blocks__list-item-header {
      width: 237px;
  }

  .blocks__list-item {
      gap: 18px;
  }

  .blocks__list-item.center {
      gap: 11px;
  }

  .header__content .container {
      flex-direction: column-reverse;
      align-items: end;
      gap: 146px;
      padding-right: 20px;
  }

  .header__theme-menu {
      margin-left: 0;
      transform: none;
  }

  .header__theme-menu-list {
      flex-direction: column;
      align-items: end;
  }

  .blocks__list-item.center .blocks__list-blocks__list {
      display: flex;
      flex-direction: column;
  }

  .page-title {
      font-size: 120px;
      text-shadow: 4px 4px var(--text-shadow);
  }

  .pictures__list-item:nth-child(1) {
      height: 192px;
  }

  .pictures__list-item:nth-child(2) {
      height: 441px;
  }

  .pictures__list-item:nth-child(3) {
      height: 568px;
  }

  .pictures__list-item:nth-child(4) {
      height: 230px;
  }

  .pictures__list-item:nth-child(5) {
      height: 318px;
  }

}

@media (max-width:767px) {
  .header__content .container {
      gap: 38px;
      padding-right: 10px;
  }

  .header__theme-menu {
      margin-top: 6px;
  }

  .rec {
      right: 10px;
      top: 10px;
  }

  .page-title {
      font-size: 116px;
      margin-left: 10px;
  }

  .container {
      padding: 0 10px;
  }

  .header__content::after {
    bottom: 10px;
    left:10px;
  }

  .main__screen .page-title {
      text-wrap: wrap;
      width: 100px;
  }

  .rec-circle__container {
      margin-left: 10px;
  }

  .main__screen-text {
      width: auto;
      margin: -10px 10px 0;
  }

  .main__screen-down-square {
      left: 10px;
      bottom: 10px;
  }

  .main {
      padding-top: 40px;
  }

  .blocks__list-item-header {
      width: 100%;
      margin-bottom: 0;
  }

  .blocks__list-item.center .blocks__list-item-header {
      margin-bottom: 10px;
  }

  .main .container {
      gap: 50px;
      width: auto;
  }

  .blocks__list-item.center {
      grid-template-columns: 1fr;
  }

  .blocks__list-item.down {
      grid-template-columns: 1fr;
  }

  .pictures {
      margin: 50px 10px 31px;
  }

  .pictures__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .pictures__list-item:nth-child(1) {
      height: 142px;
  }

  .pictures__list-item:nth-child(2) {
      height: 355px;
  }

  .pictures .main__header-text {
      margin-bottom: 10px;
  }

  .pictures__list-item:nth-child(3) {
      height: 237px;
  }

  .pictures__list-item:nth-child(4) {
      height: 355px;
  }

  .pictures__list-item:nth-child(5) {
      height: 237px;
  }

  .blocks__list-item.up {
    grid-template-columns: 1fr;
  }

  .footer-square.down {
      left: 10px;
      bottom: 10px;
  }

  .footer-square.top {
      right: 10px;
      top: 10px;
  }

  .footer {
    margin-top: 41px;
  }

  .footer .page-title {
    margin-left: 0;
  }

  .header__content::before {
    right: 10px;
    top: 10px;
  }

}