
:root {
  --darkAccent:#ff0070;
  --darkAccentSec:#db00ff;
  --whiteColor:#f1b2ce;
  --darkColor:#000028;
  --pinkColor:#FF8DCB;
  --brownColor:#353430;
  --whiteLightColor:#FFF1F7;
  --darkAccentOpac:#ff007030;
  --brownColorOpac:#35343030;
  --pinkHeader:#ffc2e6;

  --backgroundImage:var('./images/cover-image-dark.png', './images/cover-image-light.png');
  --borderAndText:var(--darkAccent, --brownColor);
  --headerColor:var(--darkAccentSec, --pinkHeader);
  --backgorundColor:var(--darkColor, --whiteLightColor);
  --squareColor:var(--darkAccent, --pinkColor);
  --mainTextColor:var(--pinkColor, --brownColor);
  --miniHeadersColor:var(--darkColor, --brownColor);
  --borderAndTextOpacity:var(--darkAccentOpac, --brownColorOpac);
  --bodyColor:var(#000028, #FFF1F7);
}
