/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --akcent-color: #ff0070;
  --header-font: #db00ff;
  --main-color: #000028;
  --text-color: #f1b2ce;
  --header-font-light: #ffc2e6;;
  --dark-color: #353430;
  --pink-color:#FF8DCB;
}
