
:root {
  --darkAccent:#ff0070;
  --darkAccentSec:#db00ff;
  --whiteColor:#f1b2ce;
  --darkColor:#000028;
  --headerPink:#FFC2E6;
  --pinkColor:#FF8DCB;
  --brownColor:#353430;
  --whiteLightColor:#FFF1F7;
  --darkAccentOpac:#ff007030;
  --brownColorOpac:#35343030;

  --backgroundImage:var('./images/cover-image-dark.png');
  --borderAndText:var(--darkAccent);
  --headerColor:var(--darkAccentSec);
  --backgorundColor:var(--darkColor);
  --textShadow:var(--darkAccent);
  --squareColor:var(--darkAccent);
  --mainTextColor:var(--whiteColor);
  --miniHeadersColor:var(--darkColor);
  --borderAndTextOpacity:var(--darkAccentOpac);
  --bodyColor:var(#000028);
}
